<header>
  <div class="dark-overlay">
    <div class="home-inner bg-primary">
      <div class="container">
        <div class="row">

          <div class="col-md-8 d-none d-md-block">
            <h1 class="display-4">Join UniMe Today</h1>

            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <h3>Manage Your Time The Smart Way</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card bg-dark text-center card-form">
              <div class="card-body">
                <h3>Sign up Today</h3>
                <p>Please fill out this form to register</p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-md" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-md" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-md" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-md" placeholder="Confirm Password">
                  </div>
                  <input type="submit" class="btn btn-outline-light btn-block">
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
