<nav class="navbar fixed-top bg-success">
  <div class="container">
    <a href="#" class="navbar-brand">UniMe</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Settings</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
