<hr>
<div class="input-group">
  <input type="text" id="task-desc" class="form-control" #taskInput>
  <input type="number" id="start-time"class="col-sm-3" #startTimeInput>
  <input type="text" id="start-day" class="col-sm-3" #startDayInput>
  <input type="number" id="end-time"class="col-sm-3" #endTimeInput>
  <input type="text" id="end-day"class="col-sm-3" #endDayInput>
  <input type="number" id="time" class="col-sm-3" #timeInput>
  <a href="#" class="btn btn-info btn-lg col-sm-2" (click)="onAddTask()"><i class="glyphicon-plus"></i></a>
</div>
<hr>
